.containerMainHome{
    display:flex;
    flex-wrap:wrap;


}
.containerMainHome spam{
    font-style: italic;
    font-weight: bold ;
}
.containerMainHome img{
    width:50%;
   height: auto;
}
.containerMainHome section{
    
    text-align: center;
    justify-content:center;
    align-items:center;
    width:50%;
    padding:120px 40px 80px 40px;
    line-height: 25px;

  
}