
.containerSabores{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerSabores h1{
    position: absolute;
    color: #ffffff;
    font-size: 50px;
    text-shadow: 3px 3px 2px gray;
  }
.containerSabores img{
    width:100%;
  
}
.MainSabores{
    width:100%;
    display:flex;
    flex-direction: column;
 align-items: center;
    gap:20px;
    padding:100px 20px;
}
.MainSabores h2{
 
   font-size:30px;
   font-weight:600;

}
.MainSabores section{
     flex: 1 1 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  line-height: 26px;
  border-radius: 4px ;
  box-shadow: 2px 2px 15px 2px #d9dde1;
   
}
.MainSabores img{
    width:200px;
    height:150px;
}