.containerRodape {
  display: flex;
  justify-content:center;
 flex-wrap: wrap;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  padding: 100px 20px 0 20px;
  gap:10px;
  cursor: pointer;
}
.containerRodape img {
  width: 100px;
  height: 100px;
}
.containerRodape section h2 {
  font-size: 18px;
}
.containerRodape section {
  
  flex-direction: column;
  border:none;
  width: 20%;
  height: 100px;
  font-size: 14px;
  border-radius: 5px;
  padding:5px;
  margin-left:20px;
}
.containerRodape div {
display: flex;
align-items: center;
justify-content: center;
margin-top:20px;
    width: 100%;
  padding: 5px;
  font-size: 14px;
}
.containerRodape div p{
font-size:12px;

}
.containerRodape div p a{
  text-decoration: none;
  margin-left: 3px;
  color:rgba(220, 234, 229, 0.25);
  font-style: italic;
}

@media(max-width:513px){
.containerRodape section {
  align-items: center;
  justify-content:center;
  font-size: 10px;

}
}
